body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 335px;
}

.animal-image {
  width: 300px;
  height: 200px;
}

.short-desc {
    font-style: italic;
}

.fact-list {
  list-style-position: outside;
  list-style-type: none;
  padding-left: 0;
}

.interesting-fact-label {
  font-weight: bold;
}

.animal-fact {
  -webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.08);
  -moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.08);
  box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.08);
  padding: 10px;
  margin: 5px;
  border: 1px solid #cecece;
}

.content {
  padding: 10px;
  margin-top: 10px;
  width: 280px;
  border: 1px solid #cecece;
}
